<div class= "container">
  <header class= "jumbotron">
    <h1>AMA</h1>
    {{#link-to 'about'}}About{{/link-to}}<br>
    {{#link-to 'contact'}}Contact{{/link-to}}<br>
    {{#link-to 'index'}}Home{{/link-to}}
  </header>
    {{outlet}}
</div>
