<h1>Ask Me Anything</h1>

<p>A place to ask and answer tech questions.</p>

<h3>Questions:</h3>

<ul>
  {{#each model as |question|}}
    <li>"{{question.content}}" by {{question.author}}</li>
  {{/each}}
</ul>
